{% extends "base.html" %} {% block head_title %}Home{% endblock %} {% block
title %}IntelliTask{% endblock %} {%block style%}<link
  rel="stylesheet"
  href="static/index.css"
/>{%endblock%}{% block content %}
<div class="content">
  <div class="info-box">
    <h2>Stay Organized with Location-Based Reminders</h2>
    <br />
    <p>
      IntelliTask allows you to set reminders that are triggered by specific
      locations, making it easier to remember tasks based on where you are.
      Whether it’s picking up groceries when you’re near the store or checking
      your schedule as you approach work, IntelliTask keeps you prepared.
    </p>
  </div>

  <div class="info-box">
    <h2>Effortless Task Management</h2>
    <br />
    <p>Organize your tasks efficiently and never miss an important reminder.</p>
  </div>
</div>
{% endblock %}
